@import "tailwindcss";

@theme {
  --color-purple-dark: #2E1054;
  --color-purple: #4B1D7B;
  --color-purple-light: #7E3DB5;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  background-color: #ffffff;
}

.product-scroll {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.product-scroll::-webkit-scrollbar {
  display: none;
}

.quantity-input {
  appearance: textfield;
  -moz-appearance: textfield;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
